.hidden {
    display: none!important;
}

.control-btn-container {
    position: fixed;
    display: flex;
    width: fit-content;
    top: 10px;
    right: 30px;
    gap: 20px;
    z-index: 255;
}

.upload-btn,
.download-btn {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.download-btn {
    border-color: #1976D2;
    background-color: #2196F3;
}

.download-btn:hover {
    background-color: #64B5F6;
    border-color: #2196F3;
}

.upload-btn {
    border-color: #388E3C;
    background-color: #4CAF50;
}

.upload-btn:hover {
    background-color: #66BB6A;
    border-color: #4CAF50;
}


.file-item {
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-radius: 0.3rem;
    border: 1px solid #dee2e6;
    cursor: pointer;
    transition: all 1s ease;
    position: relative;
}

.file-item:hover {
    background-color: #dee2e6;
}

.file-item-icon-container {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.file-item-icon {
    font-size: 30pt;
    color: #6c757d;
}

.file-item-title {
    width: 100%;
    text-align: center;
    overflow-wrap: anywhere;
}

.file-item-check {
    opacity: 0;
    transition: all 1s ease;
    color: #1976D2;
    position: absolute;
    top: 10px;
    left: 10px;
}

.file-item.checked .file-item-check {
    opacity: 1;
}

#file-list-container {
    gap: 10px;
}

#loading-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    z-index: 1051;
}

.cursor-pointer {
    cursor: pointer;
}